.container{
  width: 80%;
  margin: 0 auto;
}

.styleHead  {
  margin-top: 90px;
  font-size: 40px;
  font-Weight: 600;
  text-align: center;
}
footer{
  text-align: center;
  color: gray;
}
@media (max-width: 768px){
  .container{
    width: 100%;
    margin: 0 auto;
  }
}